<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Program</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/program.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&family=Princess+Sofia&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid ps-5 ms-5 pe-5 me-5 mt-2 mb-2">
            <a href="/"><img src="/img/logomadani.png" alt="Logo Madani"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-2 ">
                    <li class="nav-item ms-5">
                        <a class="fw-semibold nav-link active" style="color: #3A5EA5;" aria-current="page"
                            href="/about">About Us</a>
                    </li>
                    <li class="nav-item ps-5 ms-5">
                        <a class="fw-semibold nav-link active text-decoration-underline" style="color: #3A5EA5;"
                            aria-current="page" href="/program">Program</a>
                    </li>
                </ul>
                <a href="/login">
                <button class="btn btn-warning text-light fw- pe-4 ps-4" type="button">Login</button>

                </a>
            </div>
        </div>
    </nav>
    <section class="section1">
        <div class="container">
            <div class="row">
                <div class="col text-end">
                    <p class="teks1 text-white fw-bold pt-4">Program</p>
                </div>
                <div class="col text-start">
                    <img src="/img/logoPutih.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section2">
        <p class="title2 fw-bold text-warning pt-4 text-center pb-4 w3-animate-left">We Focus on Four Key Activities</p>
        <div class="container">
            <div class="row">
                <div class="col w3-animate-left">
                    <img src="/img/zoom1.png" alt="">
                </div>
                <div class="col fw-normal text-white pt-3 w3-animate-left">
                    <p class="teks2 pe-5">Selection of awardee candidates based on predefined criteria</p>
                    <br>
                    <p class="teks2">Implementation of leadership and self-development training to enhance participants'
                        skills and knowledge</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col fw-normal text-white pt-3">
                    <p class="teks3">Collaboration on projects integrating the Sustainable Development Goals (SDGs) to
                        achieve positive societal impact</p>
                    <br>
                    <p class="teks3">Monitoring and evaluation of the progress of MADANI program participants to ensure
                        goal attainment and sustainable growth</p>
                </div>
                <div class="col text-center pt-5">
                    <img src="/img/zoom2.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section4">
        <div class="container fw-light">
            <div class="row">
                <div class="col bg-white rounded mt-5 me-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 image4">
                                <img src="/img/content4.png" alt="" >
                            </div>
                            <div class="col-9 ps-5 pt-5 pe-0 pb-5">
                                <p>Selama satu bulan berada di Madani, saya merasa seperti menjadi bagian dari keluarga besar yang sangat mengayomi.
                                </p>
                                <br>
                                <div>
                                    <p class="fw-semibold">Amalia Sandi Alzahrah</p>
                                    <p class="fw-semibold text-warning">Awardee Madani 19</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col bg-white rounded mt-5 me-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 image4">
                                <img src="/img/content4.png" alt="">
                            </div>
                            <div class="col-9 ps-5 pt-5 pe-0 pb-5">
                                <p>Satu hal yang gak saya dapatkan di organisasi atau komunitas lain selama ini adalah kesempatan berinteraksi dengan mentor dengan pengalaman yang tidak bisa dan terbuka.</p>
                                <br>
                                <div>
                                    <p class="fw-semibold">Amalia Sandi Alzahrah</p>
                                    <p class="fw-semibold text-warning">Awardee Madani 19</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col bg-white rounded mt-5 me-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 image4">
                                <img src="/img/content4.png" alt="">
                            </div>
                            <div class="col-9 ps-5 pt-5 pe-0 pb-5">
                                <p>Salah satu hal yang sangat saya hargai dari Madani adalah budaya yang dibangun di sini. Budaya keberagaman, kolaborasi, dan semangat untuk menciptakan perubahan positif sangat kuat.</p>
                                <br>
                                <div>
                                    <p class="fw-semibold">Amalia Sandi Alzahrah</p>
                                    <p class="fw-semibold text-warning">Awardee Madani 19</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section5">
        <div class="container text-center mt-5 mb-5">
            <div class="row row-cols-3">
                <div class="col"><img src="/img/kegiatan1.png" alt="" class="pb-5"></div>
                <div class="col"><img src="/img/kegiatan2.png" alt="" class="pb-5"></div>
                <div class="col"><img src="/img/kegiatan3.png" alt="" class="pb-5"></div>
                <div class="col"><img src="/img/kegiatan4.png" alt=""></div>
                <div class="col"><img src="/img/kegiatan5.png" alt=""></div>
                <div class="col"><img src="/img/kegiatan6.png" alt=""></div>
            </div>
        </div>
    </section>
    <footer class="text-center text-white">
        <div class="pt-5">
            <p class="titleFooter fw-semibold">Know More About Us</p>
            <ul class="listMedia pb-4 pt-4">
                <li class="pe-2"><a href="https://www.instagram.com/madanischolars/"><img src="/img/ig.png"
                            alt=""></a></li>
                <li class="pe-2"><a href="https://www.linkedin.com/company/madani-scholars/"><img
                            src="/img/linked.png" alt=""></a></li>
                <li class="pe-2"><a href=""><img src="/img/youtube.png" alt=""></a></li>
                <li class="pe-2"><a href="https://chat.whatsapp.com/CSwLy0Mqhsw2JaFyOHg49e"><img
                            src="/img/wa.png" alt=""></a></li>
            </ul>
            <u class="fw-semibold"><a href="mailto:madanischolars.official@gmail.com"
                    class="text-white fs-4">madanischolars.official@gmail.com</a></u>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
</body>

</html>